examples/workflows/mem0-memory-teste-rapido.json
{
  "name": "Mem0Memory - Teste Rapido (SelfHosted)",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [\n  {\n    json: {\n      chatInput: 'Meu nome e Renata e eu prefiro respostas curtas em lista.',\n      userId: 'demo-user-001',\n      agentId: 'demo-agent-001',\n      runId: 'sessao-001'\n    }\n  }\n];"
      },
      "id": "2",
      "name": "Input de Teste",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "auto",
        "text": "={{ $json.chatInput }}"
      },
      "id": "3",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini"
      },
      "id": "4",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        860,
        520
      ],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "userId": "={{ $json.userId }}",
        "agentId": "={{ $json.agentId }}",
        "runId": "={{ $json.runId }}",
        "defaultQuery": "",
        "topK": 10,
        "rerank": false,
        "fields": "",
        "infer": true
      },
      "id": "5",
      "name": "Mem0 Chat Memory",
      "type": "n8n-nodes-mem0-self.mem0Memory",
      "typeVersion": 1,
      "position": [
        1080,
        520
      ],
      "credentials": {
        "mem0SelfHostedApi": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Input de Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input de Teste": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mem0 Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "mem0memory-test-v1"
}
